label {
    display: block;
    color: inherit;
    font: inherit;
    padding: 0;
}

textarea {
    border: none;
    font: inherit;
    overflow: visible;
    width: auto;
    margin: 0;
}

.group {
    border-radius: 0;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.group h3 {
    color: inherit;
    font: inherit;
    text-shadow: none;
    margin: 0;
}

.group h3+.note {
    border: none;
    position: static;
    top: auto;
    margin: 0;
    padding: 0;
}

.group h3+.note:after {
    border: none;
    position: static;
    bottom: auto;
    content: none;
    width: auto;
    left: auto;
}

.group-actions {
    border: none;
    display: block;
    box-shadow: none;
    vertical-align: baseline;
    position: static;
    background: none;
    margin: 0;
    padding: 0;
}

.group-actions:after {
    border: none;
    content: none;
    position: static;
    width: auto;
    top: auto;
    left: auto;
}

.standard-table+.group-actions,.group-actions.unattached {
    position: static;
    top: auto;
    border: none;
    margin: 0;
}

dl,dt,dd {
    font: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

.pgroup dl {
    background: none;
    padding: 0;
}

.btn {
    cursor: pointer;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    color: inherit;
    position: static;
    box-shadow: none;
    text-decoration: none;
    font: inherit;
    display: inline-block;
    background: none;
    padding: 0;
}

.btn:hover,a.btn:hover {
    box-shadow: none;
    z-index: auto;
    color: inherit;
    background: none;
}

.btn:active,input.btn:focus {
    outline: none;
    -moz-outline: none;
    background: none;
    border: none;
    color: inherit;
    position: static;
}

.btn.disabled {
    -moz-opacity: 1;
    opacity: 1;
    filter: none;
    cursor: default;
    color: inherit;
}

.no-btn {
    background: none;
    color: inherit;
    border: none;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a.active,a.active:hover {
    outline: none;
    -moz-outline: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
}

a.btn-group {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

a.btn:hover {
    color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

a.active {
    outline: none;
    -moz-outline: none;
    background: none;
    border: none;
    color: inherit;
    filter: none;
}

.btn.green {
    color: inherit;
    text-shadow: none;
    border: none;
    font: inherit;
    background: none;
    padding: 0;
}

.segmented {
    list-style: none;
    position: static;
}

.segmented.positionedrelative {
    bottom: auto;
    right: auto;
    float: none;
    margin: 0;
}

.segmented li {
    float: none;
    margin: 0;
    padding: 0;
}

.segmented li .btn {
    float: none;
    font: inherit;
    border-radius: 0;
    border: none;
}

.segmented li:first-child .btn {
    border-radius: 0;
    border: none;
}

.segmented li:last-child .btn {
    border-radius: 0;
}

.segmented li .btn:after {
    content: none;
    position: static;
    top: auto;
    border: none;
    height: auto;
    right: auto;
    z-index: auto;
}

.segmented li .btn.active:after {
    right: auto;
}

.segmented.in-filter {
    bottom: auto;
    right: auto;
    margin: 0;
}

input.red-btn,a.red-btn {
    color: inherit;
    background: none;
    text-shadow: none;
    border: none;
}

input.green-btn,a.green-btn {
    color: inherit;
    background: none;
    border: none;
}

.medium label {
    font: inherit;
    color: inherit;
}

legend {
    font: inherit;
    margin: 0;
    padding: 0;
}

caption {
    text-align: inherit;
    font: inherit;
}

td.label {
    width: auto;
    vertical-align: baseline;
}

.shopify-dialog-bg {
    position: static;
    background: none;
    opacity: 1;
    top: auto;
    left: auto;
    z-index: auto;
}

.shopify-dialog {
    position: static;
    background: none;
    border: none;
    width: auto !important;
    outline: none;
    z-index: auto;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0;
}

.shopify-dialog-title {
    position: static;
    background: none;
    border: none;
    color: inherit;
    cursor: move;
    font: inherit;
    vertical-align: baseline;
    padding: 0;
}

.shopify-dialog-title.no-title {
    background: none;
    border: none;
    padding: 0;
}

.shopify-dialog-content {
    overflow: visible;
    max-height: none;
    width: auto;
    text-align: inherit;
    padding: 0;
}

.shopify-dialog-title-close {
    display: block;
    float: none;
    text-indent: none;
    background: none;
    height: auto;
    width: auto;
    position: static;
    left: auto;
    top: auto;
    cursor: pointer;
    margin: 0;
}

.closure-lightbox-placeholder {
    text-align: inherit;
    height: auto;
    width: auto;
    background: none;
    padding: 0;
}

.unlockable-features {
    list-style: none;
    font: inherit;
    margin: 0;
}

.not-found span.not-found {
    color: inherit;
    vertical-align: baseline;
    font: inherit;
}

.generated-policy {
    min-height: 0;
}

.tos-policies ul {
    width: auto;
    position: static;
    top: auto;
    right: auto;
    margin: 0;
    padding: 0;
}

.tos-policies li {
    list-style: none;
}

body {
    text-align: inherit;
    font: inherit;
    color: inherit;
    background: none;
    text-shadow: none;
    margin: 0;
    padding: 0;
}

h2 {
    border: none;
    color: inherit;
    text-align: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

h1 span.subtitle {
    color: inherit;
    display: none;
    font: inherit;
    padding: 0;
}

h3 {
    font: inherit;
    color: inherit;
    margin: 0;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

#container {
    width: auto;
    text-align: inherit;
    font: inherit;
    margin: 0;
}

#main {
    width: auto !important;
    background: none;
    margin: 0;
    padding: 0 !important;
}

#container.slim #main {
    width: auto;
    background: none !important;
    padding: 0;
}

#header {
    width: auto !important;
    background: none;
    padding: 0;
}

#info-bar {
    width: auto;
    right: auto;
    display: none;
    background: none;
    border: none;
    color: inherit;
    text-align: inherit;
    position: static;
    left: auto;
    top: auto;
    font: inherit;
    padding: 0;
}

#footer {
    text-align: inherit;
    width: auto !important;
    font: inherit;
    background: none !important;
    text-shadow: none;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

#overview {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#overview h2 {
    border: none;
    text-align: inherit;
    color: inherit;
    font: inherit;
    width: auto;
    margin: 0;
    padding: 0;
}

#products {
    float: none;
    width: auto;
    border: none;
    margin: 0;
    padding: 0;
}

#done {
    float: none;
    width: auto;
}

#wallet {
    text-align: inherit;
    border: none;
    background: none !important;
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
}

#cost,#order-num {
    font: inherit;
    color: inherit;
    display: block;
    text-shadow: none;
}

#cost {
    text-align: inherit;
    letter-spacing: normal;
    font: inherit;
    margin: 0;
    padding: 0;
}

#success {
    color: inherit;
    background: none;
    text-align: inherit;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
}

#steps {
    display: block;
    text-align: inherit;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    font: inherit;
    color: inherit;
    text-shadow: none;
    margin: 0;
    padding: 0;
}

#thumbs {
    width: auto;
    border: none !important;
    margin: 0;
    padding: 0;
}

#thumbs div {
    border: none;
    float: none;
    text-align: inherit;
    margin: 0;
    padding: 0;
}

#thumbs td {
    clear: none;
    display: block;
    width: auto !important;
    border: none;
    font: inherit;
    text-align: inherit;
    vertical-align: baseline;
    min-height: 0;
    background: none;
    padding: 0;
}

#thumbs img {
    background: none;
    margin: 0;
}

#thumbs h3 {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

#thumbs span {
    color: inherit;
    font: inherit;
    padding: 0;
}

#payment-type {
    list-style: none;
    text-align: inherit;
    margin: 0;
    padding: 0;
}

#payment-type li {
    border: none;
    margin: 0;
    padding: 0;
}

li.text-payment {
    margin: 0 !important;
    padding: 0 !important;
}

.center {
    width: auto;
    margin: 0;
}

#addresses {
    background: none;
    height: auto;
    margin: 0 !important;
    padding: 0;
}

#email {
    background: none;
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
}

#email label {
    display: block;
    color: inherit;
    font: inherit;
    margin: 0 !important;
    padding: 0;
}

#email input {
    font: inherit;
    width: auto;
    margin: 0;
    padding: 0;
}

#shipping-same label {
    display: block;
    font: inherit;
}

.address-notification {
    background: none;
    border: none;
    color: inherit;
    text-align: inherit;
    padding: 0;
}

#gateway-logos {
    text-align: inherit;
    margin: 0;
    padding: 0;
}

#pay-with {
    text-align: inherit;
}

#or {
    font: inherit;
    position: static;
    left: auto;
    top: auto;
    color: inherit;
    background: none;
    text-align: inherit;
    padding: 0;
}

.inactive {
    -moz-opacity: 1;
    opacity: 1;
    filter: none;
}

.field-with-errors .error-message {
    display: block;
    position: static;
    text-align: inherit;
    top: auto;
    height: auto;
    width: auto;
    color: inherit;
    font: inherit;
}

.gleft {
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
}

.gright {
    float: none;
    width: auto;
    border: none;
    margin: 0;
    padding: 0;
}

#buttons {
    border: none;
    text-align: inherit;
    background: none;
    margin: 0;
    padding: 0;
}

#buttons input {
    font: inherit;
    padding: 0;
}

.ta-success {
    background: none;
    border: none;
    padding: 0;
}

.clearfix:after {
    content: none;
    display: block;
    height: auto;
    clear: none;
    visibility: visible;
}

.group h3,.pgroup h3 {
    color: inherit;
    font: inherit;
    border: none;
    margin: 0;
}

.form td {
    display: block;
    padding: 0;
}

.form ul.inline {
    list-style: none;
    width: auto;
    margin: 0;
    padding: 0;
}

.form ul.inline li {
    display: block;
    float: none;
    margin: 0;
}

.flash {
    color: inherit;
    margin: 0;
    padding: 0;
}

.flash.error {
    background: none;
    border: none;
}

.thumblist {
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
}

.thumblist li {
    background: none;
    position: static;
    border: none;
    overflow: visible;
    margin: 0;
    padding: 0;
}

.thumblist-image {
    float: none;
    position: static;
    margin: 0;
}

.thumblist-image .images {
    border: none;
    padding: 0;
}

.thumblist .group {
    overflow: visible;
    background: none;
    margin: 0;
}

.shopify-dialog pre {
    white-space: normal;
    word-wrap: normal;
    margin: 0;
}

.visually-hidden {
    position: static !important;
    clip: rect(1px,1px,1px,1px);
    border: none !important;
    height: auto !important;
    width: auto !important;
    overflow: visible;
    padding: 0 !important;
}

#buttons small {
    display: block;
    font: inherit;
    padding: 0;
}

html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6 {
    -webkit-text-size-adjust: none;
}

input[type=text],input[type=tel],input[type=email],input[type=password] {
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#container,#container.slim {
    width: auto;
    text-align: inherit;
    margin: 0;
    padding: 0;
}

#header h1 .title {
    display: block;
    overflow: visible;
    height: auto;
    background: none;
    text-align: inherit;
    font: inherit;
    color: inherit;
    text-shadow: none;
    white-space: normal;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding: 0;
}

#products h2 {
    color: inherit;
    font: inherit;
    width: auto;
    margin: 0 !important;
    padding: 0;
}

#shipping_span,#tax_span,#discount_span {
    display: block;
    text-align: inherit;
    padding: 0;
}

.horizontal #steps {
    left: auto;
}

#thumbs div.image {
    width: auto;
    max-height: none;
    border: none;
    float: none;
    height: auto;
    text-align: inherit;
    margin: 0;
    padding: 0;
}

#thumbs div.details {
    float: none;
    border: none;
    text-align: inherit;
    width: auto;
    height: auto;
}

#shipping-same {
    font: inherit;
    color: inherit;
    text-align: inherit;
    border: none;
    background: none;
    margin: 0;
}

.button-option {
    font: inherit;
    text-align: inherit;
    display: block;
}

#credit-card-info {
    width: auto;
    padding: 0;
}

.ilabel {
    border: none;
    display: block;
    margin: 0;
    padding: 0;
}

#buttons input,input.submit-btn {
    display: block;
    width: auto;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-shadow: none;
    text-decoration: none;
    background: none;
    -ms-filter: none;
    padding: 0;
}

.inner-group {
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0;
    padding: 0;
}

table.inline-form {
    width: auto;
    margin: 0;
    padding: 0;
}

table.inline-form th {
    text-align: inherit;
    text-transform: uppercase;
    font: inherit;
    border: none;
    vertical-align: baseline;
    padding: 0;
}

div.auto_complete ul li.selected {
    background: none !important;
    border: none;
}

div.auto_complete ul strong.highlight {
    color: inherit;
    background: none !important;
    margin: 0;
    padding: 0;
}

.group h3,.pgroup h3,#email label,#products h2,#overview h2,h2.title {
    display: block;
    font: inherit !important;
    height: auto;
    color: inherit;
    border: none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
    text-align: inherit;
    margin: 0;
    padding: 0;
}

#products h2,h2.title.mobile {
    background: none;
    color: inherit;
    text-shadow: none;
    border: none;
}

#billing-is-shipping td {
    display: block;
    height: auto;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    margin: 0;
    padding: 0;
}

#billing-is-shipping td input {
    float: none;
    width: auto !important;
    margin: 0;
}

#billing-is-shipping td label {
    display: block;
    font: inherit;
    padding: 0 !important;
}

#marketing-box {
    border: none;
    margin: 0;
}

#marketing-box label,#billing-is-shipping label {
    display: inline;
    font: inherit;
}

.subtitle {
    width: auto;
    font: inherit !important;
    height: auto;
    text-shadow: none;
    color: inherit;
    background: none;
    padding: 0;
}

.header h3 {
    border: none;
    margin: 0;
    padding: 0;
}

.thumblist label {
    display: inline-block;
    color: inherit;
    font: inherit;
    padding: 0;
}

form,input[type=text],ul.radios li,#header h1,input {
    margin: 0;
    padding: 0;
}

input[type=image],.segmented li:last-child .btn:after,.segmented li .btn:hover:after,h3.divider,img,#payment-type li:hover,.field-with-errors input,#container.slim #thumbs tr:last-child td:last-child,.field-with-errors input,.field-with-errors select,div.auto_complete ul li,.gright,.gleft {
    border: none;
}

input[type=radio],input[type=checkbox],#info-bar *,#payment-methods li *,#credit-card-valid,table td,.item-inventory-action input[type=radio],.button-group li *,#billing-is-shipping td * {
    vertical-align: baseline;
}

.btn-divider,input[type=text],input[type=password],textarea,input[type=text],textarea {
    border: none;
    padding: 0;
}

.group h4,.soft,span.sign-in-message {
    font: inherit;
    margin: 0;
}

.group-fields,.shopify-dialog-content .dialog-actions,div.not-found,#content,#gateway-logos img,#customer_login.required,.multiple_address_selection td,.inner,ul.cart-items>li,.inline-form td,#container.slim #content .group p:first-child,table tr,table.form,#discounts-body,#content .item-inventory-message {
    padding: 0;
}

.group-fields input[disabled=disabled],.no-btn:hover,h1,h2,h3,h4,h5,h6,a,#overview a,#footer a,#buttons a,#container.slim #content .group:first-child p:first-child strong {
    color: inherit;
}

dl,dd,dt.top,.pageform h4,.medium p,fieldset p,.footer p,#payment-methods input,img.credit-card,.severe-error,input.btn,table.form.full,.sign-in-area,.group.st,.header-description p,.thumblist li:last-child,.item-inventory-message,.item-inventory-action,#footer p,#addresses table,input.submit-btn,.group input[type=submit],.group button,#marketing-box p {
    margin: 0;
}

dt,#reset-email,.item-inventory-action label,#discounts-body input[type=text] {
    font: inherit;
    margin: 0;
}

dl .hint,#thumbs h3 span,#overview .hint,span.hint a {
    color: inherit;
    font: inherit;
}

.pgroup,#welcome,#content .item-inventory-action {
    margin: 0;
    padding: 0;
}

a.btn-left,a.btn-right,.btn-right {
    -moz-border-radius: 0;
    -webkit-border: none;
    border-radius: 0;
    border: none;
}

.btn.green:hover,.segmented li .btn.active,.shopify-dialog-title-close:hover,.shopify-dialog-title-close:active,div.wallet-highlight,a.more,a.less,.highlight,.slim #overview,tr.inputs td {
    background: none;
}

.red-btn,.green-btn,.big,.small,label.inline,.soft label,.not-found p,#order-num,.shopify-dialog pre,.shopify-dialog-content,input[type=submit],ul.edit-options li label {
    font: inherit;
}

input.red-btn:hover,a.red-btn:hover,input.green-btn:hover,a.green-btn:hover {
    color: inherit;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

textarea.tiny,textarea.very-short,textarea.short,textarea.tall,* html .clearfix {
    height: auto;
}

input.digit-2,input.long,input.medium,input.short,td.lprice,td.sprice,td.weight,th.trash,th.sku,#container.slim,.slim #thumbs td,.form td.lbl,.form td input,.form td input.short,.form td textarea,.form.full td.lbl,.form.full td input,.horizontal #thumbs div.details,.horizontal #email input,.horizontal #credit-card-info,tr.inputs input,.horizontal .field-with-errors .error-message,.form,.horizontal .form td input,.horizontal .form td input.short,#credit_card_number,.horizontal #credit_card_number,.horizontal #cart-errors {
    width: auto;
}

fieldset,fieldset#switchsolo {
    border: none;
    margin: 0;
    padding: 0;
}

a.bottab,.field-with-errors {
    background: none;
    border: none;
    padding: 0;
}

.tos-wrapper,.tos-policies,#payment {
    position: static;
}

h1,#pay-with h3,h4.active-customer {
    font: inherit;
    color: inherit;
    margin: 0;
}

#container.slim #header,#container.slim #footer {
    width: auto;
    background: none;
}

#payment-methods,.button-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

#payment-methods li,.button-group li {
    height: auto;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    margin: 0;
    padding: 0;
}

.clearfix,.form ul.inline li label,html[xmlns] .clearfix {
    display: block;
}

.sign-in,.thumblist-content,#payment-methods li input,.button-group li input {
    float: none;
    margin: 0;
}

.forgot-password,.sign-in-area input[type=submit] {
    float: none;
}

.flash.notice,#cart-errors,.flash.error {
    position: static;
    top: auto;
    width: auto;
    font: inherit !important;
    height: auto;
    text-shadow: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
}

body:hover .visually-hidden a,body:hover .visually-hidden input,body:hover .visually-hidden button,table#buttons tbody tr:nth-child(2),#purchase-progress {
    display: none !important;
}

.vertical #container,.vertical #container.slim,.horizontal #container,.horizontal #container.slim {
    width: auto !important;
    overflow: visible;
}

#content p,#credit-card-info input,.horizontal #credit-card-info input {
    font: inherit;
    padding: 0;
}

#wallet br,#thumbs br,#credit-card-info br,.field-with-errors br {
    display: none;
}

#email .field-with-errors .error-message,.horizontal #email .field-with-errors .error-message {
    top: auto;
    width: auto;
}

#payment-methods li label,.button-group li label {
    display: block;
    padding: 0 !important;
}

ul.edit-options,ul.cart-items {
    list-style: none;
    padding: 0;
}

#credit-card-info .field-with-errors .error-message,.horizontal #credit-card-info .field-with-errors .error-message {
    width: auto;
    padding: 0;
}

.form td input,.form td select,.horizontal .form td input,.horizontal .form td select {
    width: auto !important;
    font: inherit;
    padding: 0;
}

.form td select,.horizontal .form td select {
    width: auto !important;
}

.vertical table tr td,.horizontal table tr td {
    max-width: none !important;
}